@using Items.Shared.Contracts.Items
@using Items.Shared.DTO
@model UpdateItemRequest

@{
	ViewData["Title"] = "Edit item";
	var categories = ViewData["Categories"] as List<CategoryDto>;
}

<h2>Edit item</h2>

<form asp-controller="Items" asp-action="Update" method="post">
	@Html.AntiForgeryToken()

	<div class="form-group">
		<label asp-for="Id">Id: @Model.Id</label>
		<input asp-for="Id" class="form-control" type="number" hidden/>
		<span asp-validation-for="Id" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Name">Name</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Description">Description</label>
		<input asp-for="Description" class="form-control" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="CategoryId">Category</label>
		<select asp-for="CategoryId" class="form-control">
			<option value="">Select a category</option>
			@if (categories is not null)
			{
				foreach (var category in categories)
				{
					<option value="@category.Id">@category.Name</option>
				}
			}
		</select>
		<span asp-validation-for="CategoryId" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Price">Price</label>
		<input asp-for="Price" class="form-control" type="number" step="0.01" min="0" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Producer">Producer</label>
		<input asp-for="Producer" class="form-control" />
		<span asp-validation-for="Producer" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Supplier">Supplier</label>
		<input asp-for="Supplier" class="form-control" />
		<span asp-validation-for="Supplier" class="text-danger"></span>
	</div>

	<div class="form-group">
		<div class="form-check">
			<input asp-for="Active" class="form-check-input" />
			<label class="form-check-label" asp-for="Active">Active</label>
		</div>
		<span asp-validation-for="Active" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Edit</button>
</form>